# Ignora todos os arquivos .csv dentro de "data" e seus subdiretórios
data/**/*.csv
data/**/*.CSV

# Ignora os diretórios "abrangente", "aplicacoes", "restritivo" e "orientacoes" diretamente sob "raw"
data/raw/abrangente/
data/raw/aplicacoes/
data/raw/restritivo/
data/raw/orientacoes/

# Garante que a estrutura dos diretórios seja incluída no commit
!data/**/
